<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
          crossorigin="anonymous">
</head>
<body>
    <div class="container my-2">
        <div class="card">
            <div class="card-body">
                <p class="my-5">
                    <a href="/students/signup" class="btn btn-primary">
                        <i class="fas fa-user-plus ml-2"> Add Student</i>
                    </a>
                </p>
                <div th:switch="${students}" class="container my-5">
                    <div class="col-md-10">
                        <h2 th:case="null">No Students yet!</h2>
                        <div th:case="*">
                            <table class="table table-striped table-responsive-md">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone No</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="student : ${students}">
                                    <td th:text="${student.name}"></td>
                                    <td th:text="${student.email}"></td>
                                    <td th:text="${student.phoneNo}"></td>
                                    <td><a th:href="@{/students/edit/{id}(id=${student.id})}"
                                           class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i>
                                        </a>
                                    </td>
                                    <td><a th:href="@{/students/delete/{id}(id=${student.id})}"
                                           class="btn btn-primary"><i class="fas fa-user-times ml-2"></i>
                                    </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>